@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.reportBoxReportincidence {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
}
.staristicsreportReportincidenChild {
  position: absolute;
  height: 2.44%;
  width: 100.16%;
  top: 98.78%;
  right: -0.08%;
  bottom: -1.22%;
  left: -0.08%;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
}
.statisticsReport {
  position: absolute;
  height: 82.4%;
  width: 47.34%;
  top: 0;
  left: 2.58%;
  display: inline-block;
}
.staristicsreportReportinciden {
  position: absolute;
  height: 7.53%;
  width: 93.15%;
  top: 3.9%;
  right: 6%;
  bottom: 88.56%;
  left: 0.85%;
}
.level3 {
  color: var(--color-firebrick);
}
.span {
  color: var(--color-olivedrab);
}
.level3ThomasStCctv {
  margin: 0;
}
.level1ThomasContainer,
.level3ThomasContainer,
.level3ThomasContainer1 {
  position: absolute;
  top: 0;
  left: 1.5px;
  white-space: pre-wrap;
  display: inline-block;
  width: 687.5px;
  height: 29px;
}
.level1ThomasContainer,
.level3ThomasContainer1 {
  top: 315px;
}
.level1ThomasContainer {
  top: 455px;
}
.level2 {
  color: var(--color-goldenrod);
}
.level1ThomasContainer1,
.level2ThomasContainer {
  position: absolute;
  top: 420px;
  left: 0;
  white-space: pre-wrap;
  display: inline-block;
  width: 687.5px;
  height: 29px;
}
.level1ThomasContainer1 {
  top: 385px;
  left: 1.5px;
}
.level1ThomasContainer2,
.level1ThomasContainer3,
.level1ThomasContainer4,
.level2ThomasContainer1,
.level3ThomasContainer2 {
  position: absolute;
  top: 350px;
  left: 1.5px;
  white-space: pre-wrap;
  display: inline-block;
  width: 687.5px;
  height: 29px;
}
.level1ThomasContainer2,
.level1ThomasContainer3,
.level1ThomasContainer4,
.level2ThomasContainer1 {
  top: 280px;
}
.level1ThomasContainer3,
.level1ThomasContainer4,
.level2ThomasContainer1 {
  top: 245px;
  left: 0;
}
.level1ThomasContainer3,
.level1ThomasContainer4 {
  top: 210px;
  left: 1.5px;
}
.level1ThomasContainer4 {
  top: 175px;
  left: 0;
}
.level1ThomasContainer5,
.level2ThomasContainer2,
.level2ThomasContainer3,
.level3ThomasContainer3 {
  position: absolute;
  top: 140px;
  left: 0;
  white-space: pre-wrap;
  display: inline-block;
  width: 687.5px;
  height: 29px;
}
.level1ThomasContainer5,
.level2ThomasContainer3,
.level3ThomasContainer3 {
  top: 105px;
}
.level2ThomasContainer3,
.level3ThomasContainer3 {
  top: 70px;
  left: 1.5px;
}
.level2ThomasContainer3 {
  top: 35px;
}
.warningsReportincidents {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 689px;
  height: 484px;
}
.scrollReportincidents {
  position: absolute;
  height: 75.82%;
  width: 100%;
  top: 17.46%;
  right: 3.9%;
  bottom: 6.72%;
  left: 3.45%;
  opacity: 0;
  max-height: 90%;
  overflow: auto;
  font-size: var(--font-size-mini);
}
.scrollReportincidents.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.calendarStatistics {
  position: absolute;
  height: 5.08%;
  width: 18.74%;
  top: 3.28%;
  right: 54.12%;
  bottom: 91.64%;
  left: 27.14%;
}
.reportBoxReportincidenceParent {
  position: relative;
  width: 100%;
  height: 543px;
  text-align: left;
  font-size: 18px;
  color: var(--color-black);
  font-family: var(--font-inika);
}
